<div id="admin-orders-table" class="container">
  <h4>Admin StacheBoard</h4>
  <%= link_to "Create New Stache", new_admin_stache_path, class: "btn light-green darken-4" %>
  <%= link_to "View All Staches", admin_staches_path, class: "btn light-green darken-4" %>
  <%= link_to "View All Categories", admin_categories_path, class: "btn light-green darken-4" %>

  <h5 class="center">All Donations</h5>
  <table>
    <thead>
      <tr>
          <th data-field="date">Date</th>
          <th data-field="amount">Amount</th>
          <th data-field="cause">Cause</th>
          <th data-field="user">User</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr id="table-row">
        <td>01/01/2016</td>
        <td>$1,000</td>
        <td>Wireless Wires</td>
        <td>GenerousGuy</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
