<%= link_to "#" do %>
  <li class="card cause row">
    <div class="cause-img-container valign-wrapper col s3">
      <%= image_tag("http://2.bp.blogspot.com/_h4tLF5wFv0Q/RaGGhc9VF4I/AAAAAAAAAOw/tNXjEPlMx8I/s320/Picture+1.png", class: "valign") %>
    </div>
    <div class="col s9 row">
      <h6 class="col s12">Auto Dispensing Cereal Bowl</h6>
      <p class="col s8 left-align">
        Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store.
      </p>
      <div class="cause-funds col s4">
        <p>Raised: <span>$100</span></p>
        <p>Goal: <span>$500</span></p>
      </div>
    </div>
  </li>
<% end %>
