  <li class="card cause-donated row">
    <%= link_to user_cause_path(causes_supported.user.username, causes_supported) do %>
      <div class="col s2">
        <span>$<%= causes_supported.amount_raised %> </span>
      </div>
      <h6 class="truncate col s6">
        <%= causes_supported.title %>
      </h6>
    <% end %>
    <% unless current_user.nil? || current_user.oauth_token.nil? %>
      <div class="col s1 push-s3">
        <%= link_to image_tag('/assets/twitter-128.png', class: "twitter-logo"), new_tweet_path(cause_type: "supported", cause_id: causes_supported.id) %>
      </div>
    <% end %>
  </li>
