<div class="container">
  <br>
  <h4 class='center'>The DreamBuiders</h4>
  <br>
  <div class="row">
    <div class="col s4">
      <div class="center">
        <%= image_tag('/assets/jamie.jpg', class: "about") %>
        <h6>Jamie Crockett</h6>
        <p class="light center about-blurb">
          <a href="https://github.com/jecrockett" target="_blank">GitHub</a> ||
          <a href="https://www.linkedin.com/in/james-crockett-9b211978" target="_blank">LinkedIn</a>
        </p>
        <p class="light center about-blurb">
          Bio
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <%= image_tag('/assets/steve.jpg', class: "about") %>
        <h6>Steve Olson</h6>
        <p class="light center about-blurb">
          <a href="https://github.com/SteveOscar" target="_blank">GitHub</a> ||
          <a href="https://www.linkedin.com/in/stevenoolson" target="_blank">LinkedIn</a>
        </p>
        <p class="light center about-blurb">
          Bio
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <%= image_tag('/assets/david.jpg', class: "about") %>
        <h6>David Stinnette</h6>
        <p class="light center about-blurb">
          <a href="https://github.com/dastinnette" target="_blank">GitHub</a> ||
          <a href="https://www.linkedin.com/in/dstinnette" target="_blank">LinkedIn</a>
        </p>
        <p class="light center about-blurb">
          Bio
        </p>
      </div>
    </div>
  </div>
</div>
