<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://riversofgrue.files.wordpress.com/2014/09/beers_outer_space_earth_relaxing_carlsberg_moon_landing_astronaut_1920x1200_wallpaper_wallpaper_1280x960_www-wallpaperbeautiful-com_-e1376454228574.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Colonize The Moon</h3>
        <h5>Act now before Elon Musk owns the whole damn thing</h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate" %>
        </h5>
      </div>
    </li>
    <li>
      <img src="http://www.vespresso.cooking/wp-content/uploads/2016/01/Potato-salad-serving.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Potato Salad</h3>
        <h5>Leonard's greatest ambition is to make Potato Salad - help him achieve this noble goal</h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate" %>
        </h5>
      </div>
    </li>
    <li>
      <img src="https://wallpaperscraft.com/image/skrat_squirrel_ice_age_ice_falling_63305_3840x1200.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Squirrel Census</h3>
        <h5>Those furry little bastards have flown under the radar for far too long</h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate" %>
        </h5>
      </div>
    </li>
    <li>
      <img src="http://www.curvelive.com/CurveLive/media/Banners/Blog/2012/November/Ostrich-Pillow-Junior_1_curvelive_1.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Ostrich Pillow</h3>
        <h5>Get your nap on anytime, anywhere</h5>
        <h5 class="light grey-text text-lighten-3">
          <%= link_to "Donate" %>
        </h5>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <h1>DreamBuilder</h1>
  <p>
    Here at DreamBuilder, we encourage all our dreamers to shoot for the moon because if they miss, they'll land among the stars!
  </p>
</div>

<br>

<div class="row">

  <div class="col s4">
    <div class="center promo">
      <i class="material-icons">build</i>
      <p class="promo-caption">Build Your Dream</p>
      <p class="light center">Remember when you were 5 and you wanted to ride your tricycle to the ocean? You can do that now</p>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo">
      <i class="material-icons">mood</i>
      <p class="promo-caption">Support A Dream</p>
      <p class="light center">We did the heavy liftig balbalkjdfasidfj</p>
    </div>
  </div>
  <div class="col s4">
    <div class="center promo">
      <i class="material-icons">group</i>
      <p class="promo-caption">Join the Dreamers Community</p>
      <p class="light center">We did the heavy liftig balbalkjdfasidfj</p>
    </div>
  </div>

</div>
