body {
  background-color: white;
  height: 100%;
  font-family: "Montserrat";
  cursor: url('cursor2.png'), default;
}

.fades0, .fades2, .fades1 {
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: darkslategray;
}

h6 {
  font-size: 18px;
}

a {
  color: midnightblue;
}

a:hover {
  color: orange;
  h6 {
    color:orange;
  }
}

.btn {
  background-color: darkslategray;
  color: white;
}

.btn:hover {
  color:orange;
  background-color: darkslategray;
}

.flash {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  width: 70%;
  border: 2px solid;
  border-radius: 5%;
}

.flash_success {
  border-color: green;
  background-color: #cdffd3;
}

.flash_error {
  border-color: red;
  background-color: #ffa5a5;
}

.flash_notice {
  border-color: darkslategray;
  background-color: #a6cccc;
}

/* HOMEPAGE SLIDER */

#moon-pic {
  background-position: 50% 20%;
}

.moon * {
    color: white;
  }

.squirrel * {
  color: black;
  a {
    color: white;
  }
}

.squirrel-description {
  width: 500px;
}

.ostrich * {
  color: white;
}

.potato * {
  color: white;
}

#slider .indicator-item.active {
  background-color: orange;
}

/* ABOUT */

.about {
  border-radius: 5%;
  height: 250px;
}

/* HOME */

.homepage-outer-img {
  height: 200px;
  width: 250px;
  border-radius: 15%;
}

.homepage-middle-img {
  height: 200px;
}

.about-blurb {
  font-size: 12px;
}

/* NAVIGATION */
.logo-img {
  max-width: 310px;
  margin-left: 15px;
}
.unicorn {
  max-width: 40px;
  margin-left: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 340px;
  z-index: 99;
}
.collection .collection-item.avatar .secondary-content {
  color: black;
  top: 5px;
}

.nav-wrapper {
  background-color: darkslategray;
  li a {
    color: #ffa726;
  }
}

/* INDEX */

.card-image span {
  color: black;
}

/* CATEGORIES INDEX */
.colored {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 6s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

/* FOOTER */

.footer-bar {
  background-color: darkslategray;
  width: 100%;
  height: 40px;
  position: fixed;
  clear:both;
  margin-top: 120px;
  bottom: 0;
  z-index: 9999;
}
.footer-content {
  float: right;
  display: inline-block;
}
.footer-link {
  position: relative;
    top: 10px;
    padding-left: 15px;
}

/* USER PROFILE */

.cause-managed {
  height: 140px;
  max-height: 140px;
  font-size: 10px;
  background: aliceblue;
  color: black;
  h6 {
    padding-top: 10px;
  }
}

.cause-donated {
  height: 35px;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 95%;
  background: antiquewhite;
  div span {
    position: relative;
    top: 7px;
  }
}

.twitter-logo {
  height: 20px;
  width: 20px;
  position: relative;
  top: 7px;
}

.causes-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cause-img-container {
  height: 100px;
  width: 95%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.cause-funds {
  position: absolute;
  bottom: -5px;
  left: 195px;
  p {
    display: inline-block;
    padding-right: 20px;
    font-size: 12px;
    span {
      font-size: 15px;
    }
  }
}

.tweet-managed-cause {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.top-space {
  margin-top: 20px;
}

#causes-supported {
  overflow-y: auto;
  height: 562px;
  padding-top: 5px;
}

/* CAUSE SHOW */

#cause-card {
  min-height: 600px;
}

.cause-info-container {
  margin: 20px 0;
  min-height: 400px;
  img {
    margin: 10px auto;
  }
}

.cause-stats-container {
  margin-bottom: 80px;
  background: papayawhip;
  border-radius: 10%;
  p {
    padding-top: 40px;
  }
  span {
    font-size: 30px;
  }
}
.chart {

}

/*----ADMIN DASHBOARD----*/
.admin-data {
  margin-top: 40px;
}
.admin-btn {
  display: inline-block;
  margin: auto;
  width: 150px;
}
.collection a.collection-item {
    color: black;
}

.box {
  max-height: 300px;
  overflow-y: auto;
}
