<% unless @cause.current_status == 'active' %>
  <span>
    <h5><%= @cause.title %> is currently <%= @cause.current_status %>!</h5>
  </span>
<% end %>
<div class="container">
  <%= render partial: '/users/causes/cause_show_card' %>
</div>
