<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="container">
  <%= render partial: '/users/causes/cause_show_card' %>

  <%= render partial: '/users/causes/cause_supporters' %>
</div>
