<%= link_to category_path(category) do %>
    <div class="col s4">
      <div class="card-panel teal">
        <span class="white-text"><%= category.title %>
        </span>
      </div>
    </div>
<% end %>
