<div class="col s4">
  <div class="card medium">
    <div class="card-image">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/d1/55/6c/d1556c08f2313ec2cbc51fdd1d7f7024.jpg">
      <span class="card-title"><%= cause.title %></span>
    </div>
    <div class="card-content">
      <p><%= cause.description %></p>
    </div>
    <div class="card-action">
      <%= link_to "View this cause", user_cause_path(cause.user, cause) %>
    </div>
  </div>
</div>
