<div class="col s4">
  <div class="card medium">
    <div class="card-image">
      <img src= <%= cause.image_url %>>
      <span class="card-title"><%= cause.title %></span>
    </div>
    <div class="card-content">
      <p><%= cause.description %></p>
    </div>
    <div class="card-action">
      <%= link_to "View this cause", user_cause_path(cause.user, cause) %>
    </div>
  </div>
</div>
